@model BugsTracker.Models.Bug
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
               Title: @Model.Title
            </h2>
        </header>
        <p>
           Description: @Model.Description
        </p>
        <p>
           State: @Model.State
        </p>
        <p>
            Browser: @Model.RadioButton
        </p>
        <p>
            Added: @Model.DateAdded
        </p> 
        <p>
            Reported By: @Model.Author.UserName
        </p>

        @if (Model.AttachmentURL != null)
        {
            <img src="@Model.AttachmentURL" alt="Attachment" />
        }  
                             
        <footer class="pull-right">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Edit", "Edit", "Bug", new { @id = Model.Id }, new { @class = "btn btn-success" })
                
                 <a class="btn btn-primary button-margin" href="/Comment/AddComment/@Model.Id"> Add Comment</a>
            }                        
            @Html.ActionLink("Back", "Index", "Bug", null, new { @class = "btn btn-default btn" })
        </footer>
    </article>
</div>



