@model List<BugsTracker.Models.Bug>

@{
    ViewBag.Title = "List";
}

<table class="table table-striped table-hover table-bordered margin-top">
    <thead>
        <tr class="text-center">
            <th>#</th>
            <th>Time Reported</th>
            <th>State</th>
            <th>Browser</th>
            <th>Title</th>
            <th>Reported by</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model)
        {
            <tr class="text-center">
                <td> <a href="/Bug/Details/@bug.Id">@bug.Id</a></td>
                <td>@bug.DateAdded</td>
                <td>@bug.State</td>
                <td>@bug.RadioButton</td>
                <td><a href="/Bug/Details/@bug.Id">@bug.Title</a></td>
                <td>@bug.Author.UserName</td>
            </tr>
        }        
    </tbody>
</table>
<br />
<p class="text-center">
    <a href="/Bug/List?page=@(ViewBag.CurrentPage - 1)" class="btn btn-default" @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)>  Previous </a>
    <a href="/Bug/List?page=@(ViewBag.CurrentPage + 1)" class="btn btn-default" @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)>  Next </a>
</p>
<footer class="text-center">
    Page @ViewBag.CurrentPage
</footer>

