@model BugsTracker.Models.Bug
@{
    ViewBag.Title = "Report";
}

<div class="container">
    <div class="well">
        <h2>Report Bug</h2>
        @using (Html.BeginForm("Report", "Bug", FormMethod.Post, new {enctype="multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "7" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.State, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.EnumDropDownListFor(m => m.State, new { @class = "form-control", @rows = "7" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RadioButton, "Browser", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.RadioButtonFor(m => m.RadioButton,"Chrome")@Html.Label("Chrome")
                    @Html.RadioButtonFor(m => m.RadioButton,"Mozilla")@Html.Label("Mozilla")
                    @Html.RadioButtonFor(m => m.RadioButton,"IE")@Html.Label("IE")
                </div>
            </div>
            <div class="form-group">
                @Html.Label("attachment", "Add Attachment", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBox("attachment", null, new { type="file", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Index", "Bug", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Report" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>
